/**
 * Cover image will be resized to fit the size of the section
 *
 * 1. Hide image in the beginning, so, it will be displayed on load
 * 2. Fit image and keep the aspect ratio
 * 3. If tiny image is loaded `.o-image--blurry` class will
 * 	  be applied with a blurry effect
 * 4. `.o-image--loaded` is applied when image will be loaded
*/

.o-image-cover {
    background: #e3e3e3;
    height: 100%;
}

.o-image {
    opacity: 0; /* [1] */
    object-fit: cover; /* [2] */
    transition: all 1s linear;

    &.o-image--blurry { /* [3] */
        filter: blur(50px);

        transform: scale(1);
    }

    &.o-image--loaded { /* [4] */
        opacity: 1;
    }
} /* </cover__image> */