/**
 * Cover image will be resized to fit the size of the section
 *
 * 1. Hide image in the beginning, so, it will be displayed on load
 * 2. Fit image and keep the aspect ratio
 * 3. If tiny image is loaded `.o-image--blurry` class will
 * 	  be applied with a blurry effect
 * 4. `.o-image--loaded` is applied when image will be loaded
*/

.o-image-cover {
    background: #e3e3e3;
    height: 100%;
}

.o-image {
    opacity: 0; /* [1] */
    object-fit: cover; /* [2] */
    transition: transform, filter, opacity 1s linear;

    &.o-image--blurry { /* [3] */
        filter: blur(50px);

        transform: scale(1);
    }

    &.o-image--loaded { /* [4] */
        opacity: 1;
    }
} /* </cover__image> */



// Style the loader shape similar to the article shape
.o-article-loader {
	display: flex;
		flex-direction: column;
	padding: 5% 0;

	.o-article-loader__title, .o-article-loader__content {
        // animation: name duration timing-function delay iteration-count direction fill-mode play-state;
		animation: placeHolderShimmer 1.5s linear infinite normal forwards;

		background: #f6f7f8;
		background: linear-gradient(to right, #eeeeee 8%, #E4E4E4 18%, #eeeeee 33%);
		background-size: 800px 104px;
	}

	.o-article-loader__title {
		width: 55%;
		height: 1.5rem;
		margin-bottom: 1rem;
	}

	.o-article-loader__content {
		height: .9rem;
		margin-bottom: .5rem;

		&:nth-child(2) { width: 90%; }
		&:nth-child(3) { width: 95%; }
		&:nth-child(4) { width: 65%; }

	}

} /* </c-loader> */