// - - - - - - - - - - - - - - - - - - - - - - - - 
// NavBar
// - - - - - - - - - - - - - - - - - - - - - - - - 

// extending navbar class of Bulma framework
.navbar {
    background-color: transparent;
    padding: 10px 12% 0 6%;

    .navbar-item {
        transition: color $global-transition-timing ease;
    }

    // custom class not provided by the framework
    .navbar-item-link.is-active {
        border-bottom: 3px solid $primary;
        color: $primary;
        font-weight: 700;
    }
} /* </navbar> */