 // - - - - - - - - - - - - - - - - - - - - - - - - 
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - 

/**
* The color settings file contains project-wide color variables 
* that can be accessed to the entire codebase.
*/
 
$text-color: #2C3E50 !default;

$link-color: $text-color;
$link-color-hover: #28B463 !default;


// Primary colors derived from Bulma's initial variables:
$primary: #DB9D47;








