// - - - - - - - - - - - - - - - - - - - - - - - - 
// Articles
// - - - - - - - - - - - - - - - - - - - - - - - - 

// Freight Text Pro ™ by GarageFonts
// Source: myfonts.com/fonts/garagefonts/freight-text-pro
//
// 1. Define a custom font.
// 2. OpenType is a format for scalable computer fonts.

@font-face { /* [1] */
    font-family: "freight-text-bold";
    src: url('../../fonts/freight-text-pro/freight-text-bold.otf'); /* [2] */
    font-weight: bold;
}

@font-face { /* [1] */
    font-family: "freight-text";
    src: url('../../fonts/freight-text-pro/freight-text-medium.otf'); /* [2] */
}


.articles__container {
    margin: 3rem auto 0 auto;
    max-width: 800px;
    width: 100%;
    font-family: 'Slabo 27px', serif;
}

.articles__headline {
    color: #000;
    display: inline-block;
    font-size: 3rem;

    .articles__headline__icon {
        color: $secondary;
        font-size: 2rem;
    }
} /* </articles__headline> */

.articles__header {
    height: 40vh;

    .header__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
} /* </articles__header> */

.article {
    margin-bottom: 5rem;
    font-family: "freight-text", Georgia, Cambria, "Times New Roman", Times, serif;
    
    .article__categories {
        display: flex;
        margin-bottom: .5rem;

        .category {
            margin-right: 1rem;
            color: #fff;
            background: $primary;
        }

    } /* </article__categories> */

    .article__information {
        margin-bottom: .8rem;
    }

    .article__title {
        color: #333;
        cursor: pointer;
        font-size: 2.5rem;
        font-family: "freight-text-bold", Georgia, Cambria, "Times New Roman", Times, serif;
        margin-bottom: .5rem;
        
        &:hover {
            color: $secondary;
            text-decoration: underline;
        }
    } /* </article__title> */

    .article__author {
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        transition: background 330ms;

        &:hover {
            background: #fcf8e3;
        }
    }

    .article__description {
        color: #666;
        font-size: 1.1rem;
        line-height: 27px;
    }

} /* </article> */