// - - - - - - - - - - - - - - - - - - - - - - - - 
// Articles
// - - - - - - - - - - - - - - - - - - - - - - - - 

.articles__header {
    height: 40vh;

    .header__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
} /* </articles__header> */