// - - - - - - - - - - - - - - - - - - - - - - - - 
// Promotion
// - - - - - - - - - - - - - - - - - - - - - - - - 

.promotion {
    display: flex;
        flex-direction: column;
        
        // Not centered for mobile devices. 
        @include min-device(tablet) {
            justify-content: center;
            height: 100vh;
        }
    
    margin-left: 10%;
    margin-right: 10%;

    @include max-device(tablet) {
        margin-top: 10%;
    }

    // Align promotion text and logo on the 
    // same line for desktop devices. 
    @include min-device(desktop) {
        margin-left: 13.7%;
    }

    // Display tournament's category. 
    .promotion__tag {
        display: inline-block;
        background: $primary;
        border-radius: 4px;
        color: #fff;
        font-size: .65rem;
        font-weight: 700;
        margin-bottom: 5px;
        padding: .25rem .4rem;
        text-transform: uppercase;
    }

    .promotion__description {
        color: #5E5D5B;
        line-height: 1.7;
    }

    .promotion__location {
        color: #00d1b2;
        font-size: 0.9rem;
        font-weight: 500;
    }

    @at-root .columns {

        @include max-device(tablet) {
            display: flex;
            flex-direction: column-reverse;

            .promotion__image {
                height: 40vh;
                margin-top: -52px;
            }
        }  
    } /* </@at-root> */

} /* </promotion__text> */

.promotion__image {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
