// - - - - - - - - - - - - - - - - - - - - - - - - 
// Global
// - - - - - - - - - - - - - - - - - - - - - - - - 


/**
* The global settings file contains project-wide variables that can 
* be accessed to the entire codebase.
*
* 1. Specifies a transition effect with a slow start and end. (W3S)
*/

$global-radius		        : 3px !default;
$global-transition-timing   : 330ms;
$global-transition	        : all $global-transition-timing ease-in-out !default; /* [1] */
$global-spacing-unit        : 1.5rem !default;
$global-font-size	        : 16px !default;
$global-line-height         : 24px !default;


// Bulma related global variables

// Font Family
$family-sans-serif: 'Nunito', sans-serif;

// Navbar
$navbar-item-hover-color: #000;
$navbar-item-hover-background-color: none; 
$navbar-tab-active-border-bottom-color: $primary;
$navbar-padding-vertical: 0;
$navbar-breakpoint: $tablet; 
